* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans Medium", sans-serif;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
}

#main {
  width: 100%;
}
#mini-circle {
  width: 1vw;
  height: 1vw;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  z-index: 2;
  transition: cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
.bounding {
  width: fit-content;
  /* background-color: crimson; */
  overflow: hidden;
}
.bounding .boundingElem {
  transform: translate(100%);
}
#hero {
  width: 100%;
  height: 100vh;

  color: white;
}
#nav {
  width: 100%;
  padding: 3vw 3vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#nav a {
  text-decoration: none;
  color: white;
  font-size: 1.4vw;
  font-weight: 600;
}
#nav h2 {
  font-size: 1.2vw;
}
#heading {
  margin-top: 4vw;
  margin-left: 4vw;
}
#heading h1 {
  /* margin-left: 30px; */
  font-size: 10vw;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.761);
  font-weight: 500;
  line-height: 9vw;
}
#heading #second-h1 {
  margin-left: 8vw;
}
#heading h5 {
  margin-left: 20vw;
  text-align: center;
  font-size: 1.3vw;
  margin-top: 0.6vw;
}
#small-heading {
  margin-top: 4vw;
  text-align: right;
  padding-right: 3vw;
  font-size: 1vw;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 2vw;
}
#hero-footer {
  font-size: 1.3vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3vw;
}
#hero-footer a {
  text-decoration: none;
  color: white;
}
#hero-footer #down-arrow {
  font-size: 2.4vw;
}
#second-page {
  width: 100%;
  background-color: black;
  color: rgba(255, 255, 255, 0.551);
  padding-left: 3vw;
  margin-top: 15vw;
}
.elem {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5vw 0vw;
  border-top: 1px solid #d3c7c7a5;
  border-bottom: 1px solid #d3c7c7a5;
  position: relative;
}
.elem h1 {
  font-size: 7vw;
  font-weight: 300;
}
.elem h5 {
  color: white;
  font-size: 1.3vw;
}
.elem img {
  /* display: none; */
  opacity: 0;
  z-index: 1;
  position: absolute;
  /* height: 140%; */
  width: 15vw;
  /* left: 25vw; */
}
#btn button {
  margin-top: 3vw;
  padding: 1vw 2.5vw;
  border-radius: 3vw;
  color: white;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.594);
}
#about {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  width: 100%;
  gap: 5vw;
  padding-top: 15vw;
  padding-left: 35vw;
  color: white;
}
#about img {
  width: 18vw;
  object-fit: cover;
}
#textabout {
  width: 30vw;
  /* background-color: red; */

}
#textabout h5 {
  text-transform: uppercase;
  opacity: 0.6;
  margin-bottom: 1vw;
  margin-top: 4vw;
}
#textabout p {
  font-size: 1.2vw;
  line-height: 2vw;
}
#about button {
  margin-top: 1vw;
  padding: 0.5vw 2vw;
  border-radius: 3vw;
  color: white;
  background-color: black;
  border: 1px solid rgba(255, 255, 255, 0.594);
}
#subscribe h3{
  font-size: 1.5vw;
  font-weight: 300;
  margin-top: 4vw;
  margin-bottom: 2vw;
}
#footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw 3vw;
  font-size: 1.5vw;
  text-transform: uppercase;
  margin-top: 10vw;
  
}
#footer-left {
  display: flex;
  gap:3vw;
}
#footer-right{
  display: flex;
  gap:3vw;
}
#footer-right a{
  text-decoration: none;
}
@media (max-width: 480px) {
  #hero #nav a{
    font-size: 2.5vw;
  }
  #hero #nav h2{
    font-size: 2.5vw;
  }
  #hero #hero-footer{
    font-size: 2vw;
  }
  #second-page {
    /* background-color: red; */
    margin-top: -90vw;
  }
  #second-page>.elem h1{
    font-size: 4vw;
  }
  #second-page .elem h5 {
    font-size: 3vw;
  }
  #about {
    padding-left: 10vw;
    padding-top: 5vw;
  }
  #about h5 {
    font-size: 3vw;
  }
  #about p{
    font-size: 1.8vw;
    width: 60vw;
  }
  #about button {
    margin-top: 3vw;
    padding: 1vw 2vw;
    font-size: 2.5vw;
  }
  #subscribe h3{
    padding-left: 3vw;
    font-size: 2vw;
  }
  #footer {
    font-size: 2.5vw;
  }
  
}