*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#111;
  font-family: 'poppins',sans-serif;
}
.main{
  text-align: center;
  background:#222;
  padding:2rem;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(255,255,255,0.1);
}
h1{
  color:#fff;
  margin-bottom: 1rem;
}
input[type="color"]{
  width: 100px;
  height: 50px;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
}
.box-color{
  width: 200px;
  height: 200px;
  margin: auto;
  background: #ffffff;
  border-radius: 20px;
  transition:background 0.3s ease;
}
