/* Default Light Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-bg: #000000;
  --button-text: #ffffff;
}

/* Dark Theme Variables */
.dark {
  --bg-color: #121212;
  --text-color: #ffffff;
  --button-bg: #ffffff;
  --button-text: #000000;
}
.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --button-bg: #000000;
  --button-text: #ffffff;
}

/* General Styles */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  text-align: center;
  margin-top: 100px;
}

button {
  background-color: var(--button-bg);
  color: var(--button-text);
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  opacity: 0.8;
}
